<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<nav class="navbar sticky-top navbar-light bg-light navbar-expand-md">
  <div class="container">
    <a class="navbar-brand" href="#">飾在必行</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/product">產品</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/history-order">我的歷史訂單</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="category('Bracelets')" >Bracelets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="category('Necklaces')">Necklaces</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="category('Rings')">Rings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="category('Earrings')">Earrings</a>
        </li>
        <li class="nav-item">
          <a id="cartButton" href="" class="nav-link" data-bs-toggle="modal" data-bs-target="#list">
            <i class="fas fa-shopping-cart"></i>
            購物車
          </a>
          
        </li>
        <li class="nav-item">
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger" href="/logout">登出</a>
        </li>
      </ul>
      <div class="d-flex" id="search-wrapper">
        <input id="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" onclick="search()">Search</button>
      </div>
      <div class="dropdown">
        <div 
          class="d-flex justify-content-center align-items-center rounded-circle ms-2 cursor-pointer" 
          style="width: 40px; height: 40px;"
          data-bs-toggle="dropdown"
          role='button'
        >
          <i class="far fa-user fa-lg" style="color: #959ba4;"></i>
        </div>
        <div class="dropdown-menu">
          <div 
            class="profile d-flex justify-content-center align-items-center gap-2 mt-1 mx-3"
            onclick="event.stopPropagation()"
          >
            <div>
              <div 
                class="d-flex align-items-center justify-content-center border"
                style="width: 45px; height: 45px;"
              >
                <i class="far fa-user fa-lg" style="color: #959ba4;"></i>
              </div>
            </div>
            <div>
              <p class="m-0 h6 mb-1"><%= name %></p>
              <p class="m-0 text-muted"><%= email %></p>
            </div>
          </div>
          <div class="my-2" style="border: 1px #d6d5d5 solid;"></div>
          <ul class="list-unstyled m-0">
            <li>
              <a class="dropdown-item" href="/member/edit">
                <i class="fas fa-id-card me-2"></i>
                <span>編輯個人資訊</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script>
    const action = '<%=action%>'
    const options = {
      credentials: "include"
    }
    const searchInput = document.getElementById('search')
    searchInput.addEventListener("keyup", async (e) => {
      if (e.key === "Enter" || e.keyCode === 13) {
        await search()
      }
    })
    var total = 0

    const search = async () => {
      let searchText = searchInput.value
      searchText = (searchText.length > 0) ? `/${searchText}` : ''
      const url = `/api/${action}${searchText}`
      console.log(url)
      const res = await fetch(url)
      const json = await res.json()
      console.log(json)
      render(json)
    }

    const submit = () => {
      window.location = '/checkout'
    }

    const deleteCart = async (cTime, price) => {
      const res = await fetch(`/api/cart/delete/${cTime}`)
      const json = await res.json()

      if (json.result === 'ok') {
        total -= price
        document.getElementById(`cart-item-${cTime}`).innerHTML = ''
        document.getElementById('total').innerHTML = '$' + total
        if (total == 0) {
          document.getElementById('checkout').disabled = true
        }
      }
    }

    const getCart = async () => {
      let checkoutButton = document.getElementById('checkout')

      const url = `/api/cart`
      const res = await fetch(url, options)
      const json = await res.json()
      console.log(json)
      const cart = json.cart
      var html = ''
      for (const item of cart) {
        html += renderRow(item)
      }
      document.getElementById('data-area').innerHTML = html
      document.getElementById('total').innerHTML = '$' + json.total
      total = json.total

      checkoutButton.disabled = (total == 0)
    }

    const renderRow = (item) => {
      return `
        <tr id="cart-item-${item.cTime}">
          <td class="align-middle">${item.pName}</td>
          <td class="text-right align-middle">$${item.unitPrice[0]}</td>
          <td class="text-right align-middle">${item.count}</td>
          <td class="text-right align-middle">$${item.price}</td>
          <td>
            <button onclick="deleteCart('${item.cTime}', ${item.price})" class="delete-btn btn btn-danger"> 
              &times;
            </button>
          </td>
        </tr>
      `
    }

    document.getElementById('cartButton').addEventListener('click', async (e) => {
      await getCart()
    })


    const category = async (category) => {
      const url = `/api/products/${category}`
      console.log(url)
      const res = await fetch(url)
      const json = await res.json()
      console.log(json)
      render(json)
    }

  </script>
</nav>

<!-- Modal -->

<div id="list" class="modal fade" aria-hidden="true" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> 購物車</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-border">
          <thead>
            <tr>
              <th>產品名稱</th>
              <th class="text-right">單價</th>
              <th class="text-right">數量</th>
              <th class="text-right">總計</th>
              <th>刪除</th>
            </tr>
          </thead>
          <tbody id="data-area">
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <h6 align="left" style="color: crimson;">*結帳前請確認住址是否正確，我們將以住址為送貨地址，若需修改請至會員資料進行修改，謝謝！*</h6>
        <br>
        <p id="total"></p>
        <button id="checkout" onclick="submit()" class="btn btn-outline-primary">結帳</button>
      </div>
    </div>
  </div>
</div>