<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
  <title>編輯餐點</title>
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
    .container {
      max-width: 960px;
    }
  </style>

<!-- Custom styles for this template -->
</head>
<body class="bg-light">
  <div class="container">
    <div class="card mx-auto mt-4" style="width: 30rem;">
      <div class="card-header">
        <h5 class="card-title my-1">編輯餐點</h5>
      </div>
      <div class="card-body">
        <form action="/manager/product/edit" method="POST" class="needs-validation" novalidate>
          <input type="hidden" name="pId" value="<%=data.pId%>"/>
          <div class="row">
            <div class="col-sm-12 mb-3">
              <label for="pName" class="form-label">名稱</label>
              <input type="text" class="form-control" name="name" id="name" placeholder="請輸入餐點名稱" value="<%=data.pName%>" required>
              <div class="invalid-feedback">
                Valid name is required.
              </div>
            </div>

            <div class="col-sm-12 mb-3">
              <label for="pCount" class="form-label">可提供數量</label>
              <input type="number" class="form-control" name="count" id="count" placeholder="請輸入數量(若無限制可不填寫)" value=<%=data.pCount%>>
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>

            <div class="col-sm-12 mb-4">
              <label for="unitPrice" class="form-label">單價</label>
              <input type="number" class="form-control" name="unitPrice" id="unitPrice" placeholder="請輸入餐點單價" value="<%=data.unitPrice%>" required>
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>
            <hr class="mb-4">
            <div class="col-sm-12 mb-3">
              <button class="btn btn-primary w-100" type="submit">
                送出
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <br>
  <br>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
  crossorigin="anonymous"></script>

</body>
</html>
<!--
  <form>
    編號: <input type="text" name="rId"><br>
    名稱: <input type="text" name="rName"><br>
    區域: <input type="text" name="rRegion"><br>
    地址: <input type="text" name="address"><br>
    電話: <input type="text" name="phone"><br>
    Email: <input type="text" name="email"><br>
    接單時間: <input type="text" name="rIsAvailable"><br>
    <input type="submit" value="新增">
  </form>
-->